extends ../layout

block content
  .sat-page-header
    h2 Apartment ##{apt.apartmentNumber}

  .container.py-4
    .sat-card-static.p-4

      //- Details
      h5.text-ocean.mb-3
        i.bi.bi-info-circle.me-2
        | Details
      .row.mb-2
        .col-sm-4.fw-semibold Landlord Email
        .col-sm-8
          a(href='mailto:' + apt.landlordEmail) #{apt.landlordEmail}
      .row.mb-2
        .col-sm-4.fw-semibold Bedrooms
        .col-sm-8 #{apt.numBedrooms}
      .row.mb-2
        .col-sm-4.fw-semibold Bathrooms
        .col-sm-8 #{apt.numBathrooms}
      .row.mb-3
        .col-sm-4.fw-semibold Photos
        .col-sm-8
          a(href=apt.photosFolder, target='_blank')
            i.bi.bi-images.me-1
            | View Photos

      if apt.apartmentNumber == 902
        .row.mb-3
          .col-sm-4.fw-semibold Video Tour
          .col-sm-8
            a(href="https://www.youtube.com/watch?v=ujyNWQvdN9Q", target='_blank')
              i.bi.bi-play-circle.me-1
              | Watch on YouTube

      hr

      //- Additional Information
      h5.text-ocean.mb-3
        i.bi.bi-card-text.me-2
        | Additional Information
      p !{'<br/>' + apt.additionalInformation.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/\n/g, '<br/>')}

      hr

      //- Monthly Pricing
      h5.text-ocean.mb-3
        i.bi.bi-currency-dollar.me-2
        | Monthly Pricing
      .sat-pricing-grid
        .sat-price-cell
          span.month January
          span.price $#{apt.januaryPrice}
        .sat-price-cell
          span.month February
          span.price $#{apt.februaryPrice}
        .sat-price-cell
          span.month March
          span.price $#{apt.marchPrice}
        .sat-price-cell
          span.month April
          span.price $#{apt.aprilPrice}
        .sat-price-cell
          span.month May
          span.price $#{apt.mayPrice}
        .sat-price-cell
          span.month June
          span.price $#{apt.junePrice}
        .sat-price-cell
          span.month July
          span.price $#{apt.julyPrice}
        .sat-price-cell
          span.month August
          span.price $#{apt.augustPrice}
        .sat-price-cell
          span.month September
          span.price $#{apt.septemberPrice}
        .sat-price-cell
          span.month October
          span.price $#{apt.octoberPrice}
        .sat-price-cell
          span.month November
          span.price $#{apt.novemberPrice}
        .sat-price-cell
          span.month December
          span.price $#{apt.decemberPrice}

      //- For Sale
      if apt.forSalePrice > 0
        hr
        h5.text-ocean.mb-3
          i.bi.bi-tag.me-2
          | For Sale
        .alert.alert-success.d-inline-block
          i.bi.bi-house-door.me-1
          strong For Sale: 
          | $#{apt.forSalePrice}
