extends ../layout

block content
  .sat-page-header
    h2 Update Listing &mdash; Apartment ##{apartmentNumber}

  .container.py-4
    .sat-card-static.p-4
      form.sat-form(action="/account/edit-listing/" + apartmentNumber, method='POST')
        input(type='hidden', name='_csrf', value=_csrf)

        //- Basic Info
        h5.text-ocean.mb-3
          i.bi.bi-building.me-2
          | Basic Info
        .row.g-3.mb-4
          .col-md-6
            label.form-label(for='numBedrooms') Bedrooms
            input.form-control(type='text', name='numBedrooms', id='numBedrooms', value=apartment.numBedrooms)
          .col-md-6
            label.form-label(for='numBathrooms') Bathrooms
            input.form-control(type='text', name='numBathrooms', id='numBathrooms', value=apartment.numBathrooms)

        //- Photos
        h5.text-ocean.mb-3
          i.bi.bi-images.me-2
          | Photos
        .mb-2
          label.form-label(for='photosFolder') Photos Link (e.g. Google Drive folder)
          input.form-control(type='text', name='photosFolder', id='photosFolder', value=apartment.photosFolder)
        p.text-muted.small.mb-4
          | For photo sharing, please read the instructions at: 
          a(href='https://tinyurl.com/ra9kxgs') https://tinyurl.com/ra9kxgs

        //- Additional Information
        h5.text-ocean.mb-3
          i.bi.bi-card-text.me-2
          | Additional Information
        .mb-4
          label.form-label(for='additionalInformation') Contact info, additional fees, etc.
          textarea.form-control(name='additionalInformation', id='additionalInformation', rows='5') #{apartment.additionalInformation}

        //- Monthly Pricing
        h5.text-ocean.mb-3
          i.bi.bi-currency-dollar.me-2
          | Monthly Pricing
        .row.g-3.mb-4
          .col-md-3
            label.form-label(for='januaryPrice') January
            input.form-control(type='text', name='januaryPrice', id='januaryPrice', value=apartment.januaryPrice)
          .col-md-3
            label.form-label(for='februaryPrice') February
            input.form-control(type='text', name='februaryPrice', id='februaryPrice', value=apartment.februaryPrice)
          .col-md-3
            label.form-label(for='marchPrice') March
            input.form-control(type='text', name='marchPrice', id='marchPrice', value=apartment.marchPrice)
          .col-md-3
            label.form-label(for='aprilPrice') April
            input.form-control(type='text', name='aprilPrice', id='aprilPrice', value=apartment.aprilPrice)
          .col-md-3
            label.form-label(for='mayPrice') May
            input.form-control(type='text', name='mayPrice', id='mayPrice', value=apartment.mayPrice)
          .col-md-3
            label.form-label(for='junePrice') June
            input.form-control(type='text', name='junePrice', id='junePrice', value=apartment.junePrice)
          .col-md-3
            label.form-label(for='julyPrice') July
            input.form-control(type='text', name='julyPrice', id='julyPrice', value=apartment.julyPrice)
          .col-md-3
            label.form-label(for='augustPrice') August
            input.form-control(type='text', name='augustPrice', id='augustPrice', value=apartment.augustPrice)
          .col-md-3
            label.form-label(for='septemberPrice') September
            input.form-control(type='text', name='septemberPrice', id='septemberPrice', value=apartment.septemberPrice)
          .col-md-3
            label.form-label(for='octoberPrice') October
            input.form-control(type='text', name='octoberPrice', id='octoberPrice', value=apartment.octoberPrice)
          .col-md-3
            label.form-label(for='novemberPrice') November
            input.form-control(type='text', name='novemberPrice', id='novemberPrice', value=apartment.novemberPrice)
          .col-md-3
            label.form-label(for='decemberPrice') December
            input.form-control(type='text', name='decemberPrice', id='decemberPrice', value=apartment.decemberPrice)

        //- For Sale
        h5.text-ocean.mb-3
          i.bi.bi-tag.me-2
          | For Sale
        .mb-4
          label.form-label(for='forSalePrice') For Sale Price
          input.form-control(type='text', name='forSalePrice', id='forSalePrice', value=apartment.forSalePrice)
          .form-text A price of 0 means not for sale.

        .mt-3
          button.btn.btn-ocean(type='submit')
            i.bi.bi-pencil-square.me-1
            | Update Listing
